[submodule "micro/micro"]
	path = micro/micro
	url = https://github.com/zyedidia/micro
[submodule "lazygit/lazygit"]
	path = lazygit/lazygit
	url = https://github.com/jesseduffield/lazygit
[submodule "fzf/fzf"]
	path = fzf/fzf
	url = https://github.com/junegunn/fzf
[submodule "eget/eget"]
	path = eget/eget
	url = https://github.com/zyedidia/eget
[submodule "task/task"]
	path = task/task
	url = https://github.com/go-task/task
[submodule "nats-server/nats-server"]
	path = nats-server/nats-server
	url = https://github.com/nats-io/nats-server
[submodule "yazi/yazi"]
	path = yazi/yazi
	url = https://github.com/sxyazi/yazi
[submodule "seaweedfs/seaweedfs"]
	path = seaweedfs/seaweedfs
	url = https://github.com/seaweedfs/seaweedfs
[submodule "juicefs/juicefs"]
	path = juicefs/juicefs
	url = https://github.com/juicedata/juicefs
[submodule "xh/xh"]
	path = xh/xh
	url = https://github.com/ducaale/xh
