[submodule "micro/micro"]
	path = micro/micro
	url = https://github.com/zyedidia/micro
[submodule "eget-py/eget-go"]
	path = eget-py/eget-go
	url = https://github.com/zyedidia/eget
[submodule "lazygit/lazygit"]
	path = lazygit/lazygit
	url = https://github.com/jesseduffield/lazygit
