[submodule "micro/micro"]
	path = micro/micro
	url = https://github.com/zyedidia/micro
[submodule "lazygit/lazygit"]
	path = lazygit/lazygit
	url = https://github.com/jesseduffield/lazygit
[submodule "fzf/fzf"]
	path = fzf/fzf
	url = https://github.com/junegunn/fzf
[submodule "eget/eget"]
	path = eget/eget
	url = https://github.com/zyedidia/eget
