name: Build micro

on:
  - workflow_dispatch

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - run: |
          git submodule update --init -- micro/micro
          cd micro/micro && git fetch --tags

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - uses: actions/setup-go@v5
        with:
          go-version: "stable"

      - run: pip install build[virtualenv] wheel
      - run: python build_wheel.py
        working-directory: ./micro
      - run: python -m build -s
        working-directory: ./micro

      - run: |
          pip install --no-index -f micro/dist/ micro-editor
          micro -version

      - uses: actions/upload-artifact@v4
        with:
          path: micro/dist

      - run: ls micro/dist

  publish:
    name: publish
    runs-on: ubuntu-latest
    needs: [build]
    environment: publish
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: artifact
          path: dist

      - run: ls -R dist

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist
