name: Build pocketbase

on:
  - workflow_dispatch

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - uses: yezz123/setup-uv@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "stable"
      - uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.13.0

      - run: uv pip install --system "build[virtualenv]" wheel
      - run: python build_wheel.py
        working-directory: ./pocketbase
      - run: python -m build -s
        working-directory: ./pocketbase

      - run: |
          pip install --no-index -f pocketbase/dist/ pocketbase-bin
          pocketbase --version
          objdump -T $(which pocketbase) | grep GLIBC | sed 's/.*GLIBC_\([.0-9]*\).*/\1/g' | sort -Vu

      - uses: actions/upload-artifact@v4
        with:
          path: pocketbase/dist

      - run: ls pocketbase/dist

  publish:
    name: publish
    runs-on: ubuntu-latest
    needs: [build]
    environment: publish
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: artifact
          path: dist

      - run: ls -R dist

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist
          skip-existing: true
